<head th:replace="index::head"></head>
<div class="card  text-white fixed-top border-0" style="height:100dvh">
    <img class="card-img rounded-0" src="/img/visitor/authentication.png" alt="Title" />
    <div class="card-img-overlay overflow-auto" style="display:'flex';justify-content:center;align-items:center;background-color:rgb(0,0,0,0.7)">
       <div class="bg-white border col-lg-6 text-dark  border-0 p-0 mt-lg-5">
            <h4 class="card-title border-bottom p-3 bg-primary">
               <img width="60"src="/img/admin/hospital-location.png" alt="" />Add Hospital
            </h4>
               <i class="rounded-pill border fs-4 bg-primary text-white py-1 px-2 bi bi-hospital-fill"></i>
            <section class="p-4">
                
                <section class="row col-sm-12 m-auto">
                <div class="mb-3">
                <span  class="form-span">Name</span>
                    <input type="text" name="name"  class="form-control rounded-0" placeholder="Enter Hospital  ..." />
                </div>
                <div class="mb-3 col-sm-6">
                    <span >Select Province</span>
                    <select class="form-select text-center rounded-0" required>
                    <option value="">--Select province--</option>
                             <option key={index} value={data.id}>{data.name}</option>
                    </select>
                </div>
                <div class="mb-3 col-sm-6">
                    <span >Select District</span>
                    <select class="form-select text-center rounded-0" required>
                        <option value="">--Select District--</option>
                    </select>
                </div>
                <div class="mb-3 col-sm-12">
                    <span >Select sector</span>
                    <select class="form-select text-center rounded-0" required>
                        <option value="">--Select sector--</option>
                         
                    </select>
                </div>
                </section>
                <div class="modal-footer">
                    <a class="btn btn-primary mx-3 rounded-0" href="/admin">close</a>
                     <button  class="btn btn-info fw-bolder">Add Hospital</button>
                </div>
            </section>
       </div>
    </div>
</div>